/*
 * content.css
 */

.nicorepo .nicorepo-page .log {
  margin-top: 0 !important;
  padding: 8px !important;
}

.log .log-mute-button {
  right: 8px !important;
}

.NicorepoTimeline-item+.NicorepoTimeline-item {
  margin-top: 0 !important;
}

.NicorepoItem-item {
  margin-top: 8px !important;
}
