/*
 * popup.css
 */

td, th {
  white-space: nowrap;
}

.table {
  margin-bottom: 0 !important;
}

.modal-content {
  max-height: none !important;
}

#highlight-colors .button {
  padding-left: 2em;
  padding-right: 2em;
  margin: .5em;
}

#rules .tag {
  height: 1.5em;
}
